<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org/"
      layout:decorate="/member/index.html">
      
<div layout:fragment="content">
        <main id="user">
		    <section class="find findId">
		        <form id="formFindId" th:action="@{/member/findIdResult}" method="GET"> <!-- 왜 POST 전송이지?? ㅇㅇ GET으로 해야함, 왜냐면 GET으로 페이지 띄우면서 model 속성 참조해야하므로!-->
		        	<input type="hidden" name="type" value="FIND_ID"/>
		            <table border="0">
		                <caption>아이디 찾기</caption>
		                <tr>
		                    <td>이름</td>
		                    <td><input type="text" name="name" placeholder="이름 입력"/></td>
		                </tr>
		                <tr>
		                    <td>이메일</td>
		                    <td>
		                        <div>
		                            <input type="email" name="email" placeholder="이메일 입력"/> <!-- disabled 삭제 -->
		                            <button type="button" id="btnEmailCode" class="btnAuth">인증번호 받기</button>
		                            <span class="resultEmailForId"></span>
		                        </div>
		                        <div>
		                            <input type="text" name="auth" placeholder="인증번호 입력"/>
		                            <button type="button" id="btnEmailAuth" class="btnConfirm">확인</button> <!-- type="button" submit으로 수정 -->
		                        </div>
		                    </td>
		                </tr>                        
		            </table>                                        
		        </form>
		        
		        <p>
		            회원가입시 이메일 주소와 입력한 이메일 주소가 같아야, 인증번호를 받을 수 있습니다.<br>
		            인증번호를 입력 후 확인 버튼을 누르세요.
		        </p>
		
		        <div>
		            <a th:href="@{/member/login}" class="btn btnCancel">취소</a>
		            <a href="#" class="btn btnNext">다음</a> <!-- script 작성으로 a태그를 통해 form 전송한다 -->
		        </div>
		    </section>
		</main>        
</div>    
</html>