<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org/"
      layout:decorate="/member/index.html">
      


<div layout:fragment="content">
	<main id="user">
	    <section class="find findPassChange">
	        <form id="formFindPassChange" th:action="@{/member/findPassChange}" method="POST">
	        	<input type="hidden" name="uid" th:value="${userDTO.uid}"> <!-- 이 uid값으로 entity객체 찾고 거기에 pass값만 SET해서 Save 하자! / th:value잖아!!! / name="uid", name="pass1", name="pass2" 값들이 UserDTO 객체의 속성 이름에 일치하여 값이 정해지고, UserController에 findPassChange 메서드 매개변수로서 UserDTO로 들어간다-->
	            <table border="0">
	                <caption>비밀번호 변경</caption>                        
	                <tr>
	                    <td>아이디</td>
	                    <td>[[${userDTO.uid}]]</td>
	                </tr>
	                <tr>
	                    <td>새 비밀번호</td>
	                    <td>
	                        <input type="password" name="pass1" placeholder="새 비밀번호 입력"/> <!-- validation.js에서 pass1, pass2 찾음-->
	                    </td>
	                </tr>
	                <tr>
	                    <td>새 비밀번호 확인</td>
	                    <td>
	                        <input type="password" name="pass2" placeholder="새 비밀번호 입력 확인"/>
	                        <span class="resultPass"></span> <!-- validation.js에서 resultPass에 글자 표시하는 거 놓치면 안되지! -->
	                    </td>
	                </tr>
	            </table>                                        
	        </form>
	        
	        <p>
	            비밀번호를 변경해 주세요.<br>
	            영문, 숫자, 특수문자를 사용하여 8자 이상 입력해 주세요.                    
	        </p>
	
	        <div>
	            <a th:href="@{/member/login}" class="btn btnCancel">취소</a>
	            <a href="#" id="btnPassChange" class="btn btnㄹNext">비밀번호 변경</a>
	        </div>
	    </section>
	</main>
</div>
</html>