<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:insert="/my/_header.html"/>
<div class="home">
				<ul>
                    <span class="menu_else"></span>
                    <li class="on"><a th:href="@{/my/order}">전체주문내역</a></li>
                    <!--<li><a href="#">관심상품</a></li>-->
                    <li><a th:href="@{/my/point}">포인트내역</a></li>
                    <li><a th:href="@{/my/coupon}">쿠폰</a></li>
                    <li><a th:href="@{/my/review}">나의리뷰</a></li>
                    <li><a th:href="@{/my/qna}">문의하기</a></li>
                    <li><a th:href="@{/my/info}">나의설정</a></li>
                </ul>
            <section>
                <a href="#"><img src="../images/my_banner1.jpg" alt="패션, 타운 하나로 끝" class="banner"></a>

                <article class="latest">
                    <h3>최근주문내역</h3>
                    <a th:href="@{/my/order}" class="more">더보기</a>
                    <table border="0">
                        <tr>
                            <th>날짜</th>
                            <th>상품정보</th>
                            <th>상태</th>
                            <th>확인/신청</th>
                        </tr>
                        <tr th:each="dto:${dto}">
                            <td class="date">[[${dto.ordDate}]]</td>
                            <td class="info">
                                <a th:href="@{/product/productView(prodNo=${dto.product.prodNo})}" class="thumb"><img th:src="@{'/thumb1/'}+${dto.product.thumb1}" alt=""></a>
                                <ul>
                                    <li class="company"><a href="#">[[${dto.product.company}]]</a></li>
                                    <li class="prodName"><a href="#">[[${dto.product.prodName}]]</a></li>
                                    <li class="orderNo">수량 : <span class="prodCount">[[${dto.ordCount}]]</span>개 / 주문번호 : <a href="#">[[${dto.ordNo}]]</a></li>
                                    <li class="prodPrice">[[${#numbers.formatInteger(dto.ordPrice,0,'COMMA')}]]</li>
                                </ul>
                            </td>
                            
                          	<td class="status" th:if="${dto.ordComplete} == 1")>배송완료</td>
	                		<td class="status" th:if="${dto.ordComplete} == 0")>배송중</td>
                            <td class="confirm">
								<input type="hidden" name="ordCompleteNo" th:value="${dto.ordCompleteNo}">
								<input type="hidden" name="ordProdName" th:value="${dto.product.prodName}">
								<input type="hidden" name="ordProdNo" th:value="${dto.product.prodNo}">
                                <a href="#" class="receive" th:if="${dto.ordComplete} == 0">수취확인</a>
                                <a href="#" class="review" th:if="${dto.rvComplete} == 0">상품평</a>
                                <a href="#" class="refund">반품신청</a>
                                <a href="#" class="exchange">교환신청</a>
                            </td>
                        </tr>
                    </table>
                </article>

                <article class="point">
                    <h3>포인트적립내역</h3>
                    <a th:href="@{/my/point}" class="more">더보기</a>
                    <table border="0">
                        <tr>
                            <th>날짜</th>
                            <th>구분</th>
                            <th>주문번호</th>
                            <th>적립금액</th>                                
                            <th>비고</th>
                            <th>유효기간</th>
                        </tr>
                        <tr>
                            <td>2022-12-10</td>
                            <td>적립</td>
                            <td>2022121001</td>
                            <td>340</td>
                            <td>상품 구매확정</td>
                            <td>2024-12-10</td>
                        </tr>
                    </table>
                </article>
                <article class="review">
                    <h3>상품평</h3>
                    <a th:href="@{/my/review}" class="more">더보기</a>
                    <table border="0">
                        <tr>
                            <th>번호</th>
                            <th>상품명</th>
                            <th>내용</th>
                            <th>평점</th>
                            <th>작성일</th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>상품명</td>
                            <td>배송이 빠릅니다. 잘 사용하겠습니다.</td>
                            <td><span class="rating star1">상품평</span></td>
                            <td>2022-12-10</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>상품명</td>
                            <td>배송이 빠릅니다. 잘 사용하겠습니다.</td>
                            <td><span class="rating star2">상품평</span></td>
                            <td>2022-12-10</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>상품명</td>
                            <td>배송이 빠릅니다. 잘 사용하겠습니다.</td>
                            <td><span class="rating star3">상품평</span></td>
                            <td>2022-12-10</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>상품명</td>
                            <td>배송이 빠릅니다. 잘 사용하겠습니다.</td>
                            <td><span class="rating star4">상품평</span></td>
                            <td>2022-12-10</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>상품명</td>
                            <td>배송이 빠릅니다. 잘 사용하겠습니다.</td>
                            <td><span class="rating star5">상품평</span></td>
                            <td>2022-12-10</td>
                        </tr>
                    </table>
                </article>

                <article class="qna">
                    <h3>문의내역</h3>
                    <a th:href="@{/my/qna}" class="more">더보기</a>
                    <table border="0">
                        <tr>
                            <th>번호</th>
                            <th>문의채널</th>
                            <th>문의유형</th>                                
                            <th>제목</th>
                            <th>작성일</th>
                            <th>상태</th>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>고객센터</td>
                            <td>주문/결제</td>                                
                            <td>신용카드 결제 중 오류가 난 경우 어떻게 하나요?</td>
                            <td>2024-12-12</td>
                            <td><span class="notAnswerYet">검토중</span></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>고객센터</td>
                            <td>주문/결제</td>                                
                            <td>신용카드 결제 중 오류가 난 경우 어떻게 하나요?</td>
                            <td>2024-12-12</td>
                            <td><span class="answered">답변완료</span></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>판매자게시판</td>
                            <td>배송</td>                                
                            <td>배송기간이 보통 얼마나 걸리나요?</td>
                            <td>2024-12-12</td>
                            <td><span class="answered">답변완료</span></td>
                        </tr>
                    </table>
                </article>

                <article class="myinfo">
                    <h3>확인해주세요!</h3>

                    <div>
                        <div class="address">
                            <span>기본 배송지설정</span>
                            <a th:href="@{/my/info}" class="setting">변경</a>
                        </div>
                        <div class="email">
                            <span>email 설정</span>
                            <a th:href="@{/my/info}"  class="setting">변경</a>
                            <p>
                                <span>abc123@gmail.com</span><br/>
                                (최종수정일 <span>2021-12-10</span>)
                            </p>
                        </div>
                        <div class="hp">
                            <span>휴대폰 설정</span>
                            <a th:href="@{/my/info}"  class="setting">변경</a>
                            <p>
                                <span>abc123@gmail.com</span><br/>
                                (최종수정일 <span>2021-12-10</span>)
                            </p>
                        </div>
                    </div>


                </article>

            </section>

        </div>
    </div>        

<th:block th:insert="/my/_footer.html"/>
<th:block th:insert="/my/_popup.html"/>
    <!-- 판매자정보 팝업 -->
   
</body>
</html>