<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:insert="/my/_header.html"/>
<script>
	
	$(function(){
		
		const myForm = $('#myForm');
		
		$('#btnSubmit').click(function(e){
			e.preventDefault();
			//alert('asnkflenl?!');
			
			const uid = $('#passCheckId').text();
			const pass = $('#passCheck').val();
						
			const jsonData = {"pass" : pass, "uid" : uid};
			
			$.ajax({
				url: '/my/infoPassConfirm',
				type: 'POST',
				data: jsonData, // 변수니까 '' 안씀
				dataType: 'json', // Type 대문자
				success: function(data){
					
					//alert('success : ' + data);
					
					if(data == 1){
						myForm.submit();
						alert('수정 완료했습니다.');
					}else{
						alert('입력한 비밀번호가 일치하지 않습니다.');
						return; // return 하면 무슨 효과??
					}
				}
			});
		});
		
		/*
		const pass = document.getElementById('passCheck').value;
		const uid = document.getElementById('passCheckId').innerText;
		
		const jsonData = {"pass" : pass, "uid" : uid};
		
		$.ajax({
			url: '/my/infoPassCheck/'+uid,
			type: 'POST',
			data: jsonData, // 변수니까 '' 안씀
			dataType: 'json', // Type 대문자
			success: function(data){
				
			}
			
		});
		*/
	});
	
</script>
<div class="info">
				<ul>
                    <span class="menu_else"></span>
                     <li class="on"><a th:href="@{/my/order}">전체주문내역</a></li>
                    <!--<li><a href="#">관심상품</a></li>-->
                    <li><a th:href="@{/my/point}">포인트내역</a></li>
                    <li><a th:href="@{/my/coupon}">쿠폰</a></li>
                    <li><a th:href="@{/my/review}">나의리뷰</a></li>
                    <li><a th:href="@{/my/qna}">문의하기</a></li>
                    <li><a th:href="@{/my/info}">나의설정</a></li>
                </ul>
		<section>
            <a href="#"><img src="../images/my_banner1.jpg" alt="패션, 타운 하나로 끝" class="banner"></a>
            <article>
                <h3>비밀번호 확인</h3>
                
				<form th:action="@{/my/infoPassCheck}" method="POST" id="myForm">
					<input type="hidden" name="uid" th:value="${userDTO.uid}" /> <!-- th빠트리지말라고!!!!!!! 수정완료시 폼전송으로 보낼 파라미터 -->
					<input type="hidden" name="email" th:value="${userDTO.email}" /> <!-- 수정완료시 폼전송으로 보낼 파라미터 -->
					<input type="hidden" name="hp" th:value="${userDTO.hp}" />
					<input type="hidden" name="zip" th:value="${userDTO.zip}" />
					<input type="hidden" name="addr1" th:value="${userDTO.addr1}" />
					<input type="hidden" name="addr2" th:value="${userDTO.addr2}" />
	                <table border="0">
	                    <tr>
	                        <td>사용자 ID</td>
	                        <td id="passCheckId">[[${userDTO.uid}]]</td>
	                    </tr>
	                    <tr>
	                        <td>비밀번호 확인</td>
	                        <td>
	                            <input type="password" id="passCheck" name="pass" placeholder="비밀번호 확인"/>
	                        </td>
	                    </tr>
	                </table>
	                <button type="button" class="btnInfo" id="">취소</button> <!-- type은 button 하면 전송안되게 할 수 있음, 아 기본타입이 submit인가보네 -->
	                <button type="submit" class="btnInfo" id="btnSubmit">확인</button>
                </form>
            </article>
        </section>

<th:block th:insert="/my/_footer.html"/>
</html>