<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<th:block th:insert="/my/_header.html"/>
	
	
<div class="qna">
				<ul>
                    <span class="menu_else"></span>
                    <li class="on"><a th:href="@{/my/order}">전체주문내역</a></li>
                    <!--<li><a href="#">관심상품</a></li>-->
                    <li><a th:href="@{/my/point}">포인트내역</a></li>
                    <li><a th:href="@{/my/coupon}">쿠폰</a></li>
                    <li><a th:href="@{/my/review}">나의리뷰</a></li>
                    <li><a th:href="@{/my/qna}">문의하기</a></li>
                    <li><a th:href="@{/my/info}">나의설정</a></li>
                </ul>
	<section>
            <a href="#"><img th:src="@{/images/my_banner1.jpg}" alt="패션, 타운 하나로 끝" class="banner"></a>
            <article>
                <h3>문의하기</h3>

                <table border="0">
                    <tr>
                        <th>번호</th>
                        <th>문의채널</th>
                        <th>문의유형</th>                                
                        <th>제목</th>
                        <th>작성일</th>
                        <th>상태</th>
                    </tr>
                    
			 		<th:block th:each="article:${qnaList}">
	                    <tr>
	                        <td class="no">[[${article.no}]]</td>
	                        <td class="channel">[[${article.cate1_name}]]</td>
	                        <td class="type">[[${article.cate2_name}]]</td>                                
	                        <td class="tit"><a href="#">[[${article.title}]]</a></td>
	                        <td class="date">[[${#temporals.format(article.rdate, 'yyyy-MM-dd HH:mm:ss')}]]</td>
	                        <td class="status" th:if="${article.comment == 1}">
								<span class="answered">
									답변완료
								</span>
							</td>
							<td class="status" th:if="${article.comment == 0}">
								<span class="notAnswerYet">
									검토중
								</span>
							</td>
	                    </tr>
                    </th:block>
                </table>

               <!-- 페이지 네비게이션 -->
		        <div class="page">
				    <th:block th:if="${pageGroupStart > 1}">
				        <a th:href="@{/my/qna(pg=${pageGroupStart - 1})}" class="prev">이전</a>
				    </th:block>
				
				    <th:block th:each="num : ${#numbers.sequence(pageGroupStart, pageGroupEnd)}">
				        <a th:href="@{/my/qna(pg=${num})}" th:class="${num == pg} ? 'on' : 'num'">[[${num}]]</a>
				    </th:block>
				
				    <th:block th:if="${pageGroupEnd < lastPageNum}">
				        <a th:href="@{/my/qna(pg=${pageGroupEnd + 1})}" class="next">다음</a>
				    </th:block> 
				</div>
            </article>
        </section>
<th:block th:insert="/my/_footer.html"/>
</html>