<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<th:block th:insert="/my/_header.html"/>
<div class="review">
				<ul>
                    <span class="menu_else"></span>
                     <li class="on"><a th:href="@{/my/order}">전체주문내역</a></li>
                    <!--<li><a href="#">관심상품</a></li>-->
                    <li><a th:href="@{/my/point}">포인트내역</a></li>
                    <li><a th:href="@{/my/coupon}">쿠폰</a></li>
                    <li><a th:href="@{/my/review}">나의리뷰</a></li>
                    <li><a th:href="@{/my/qna}">문의하기</a></li>
                    <li><a th:href="@{/my/info}">나의설정</a></li>
                </ul>
	<section>
            <a href="#"><img src="../images/my_banner1.jpg" alt="패션, 타운 하나로 끝" class="banner"></a>
            <article>
                <h3>나의리뷰</h3>

                <table border="0">
                    <tr>
                        <th>번호</th>
                        <th>상품명</th>
                        <th>내용</th>                                
                        <th>평점</th>
                        <th>작성일</th>
                    </tr>
                    <tr th:each="list:${list.dtoList}">
                        <td class="no">[[${list.revNo}]]</td>
                        <td class="prodName"><a th:href="@{/product/productView(prodNo=${list.product.prodNo})}">[[${list.product.prodName}]]</a></td>
                        <td class="content">[[${list.content}]]</td>                                
                        <td class="score"><span th:class="@{rating star}+${list.score}"></span></td>
                        <td class="date">[[${#temporals.format(list.regDate, 'yyyy-MM-dd')}]]</td>
                    </tr>
                  
                </table>

            <p class="page">
			    <th:block th:if="${list.prev}"class="prev">
			      <a th:href="@{/my/review(pg=${list.start - 1})}"><&nbsp;이전</a>
			    </th:block>
			   
			       <th:block th:each="num: ${#numbers.sequence(list.start,list.end)}" >
			            <a th:href="@{/my/review(pg=${num})}" th:class="${num == list.pg} ? 'on':''">[[${num}]]</a>
			        </th:block>
			 
			    <th:block th:if="${list.next}"class="next">
			      <a th:href="@{/my/review(pg=${dtoList.end + 1)}">다음&nbsp;></a>
			    </th:block>
		  </p>
            </article>
        </section>
<th:block th:insert="/my/_footer.html"/>
<th:block th:insert="/my/_popup.html"/>
</html>