<!DOCTYPE html> <!-- include 이요할 때는 어떻게 썼는지 기억하기 위해 fragment 폴더 안에 모아놓음-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">    
    <title>케이마켓::대한민국 1등 온라인 쇼핑몰</title>    
    <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico" />
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <link rel="stylesheet" href="../css/style.css"/>
    <link rel="stylesheet" href="../member/css/member.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://kit.fontawesome.com/20962f3e4b.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
</head>
<body>
    <div id="wrapper">
        <th:block th:include="/member/fragment/_header.html"/>
        <main id="member">
            <div class="login">
                <nav>
                    <h1>로그인</h1>                    
                </nav>
                
				<form action="#" method="post">

                    <table border="0">
                        <tr>
                            <td>아이디</td>
                            <td><input type="text" name="uid" placeholder="아이디 입력"></td>
                        </tr>
                        <tr>
                            <td>비밀번호</td>
                            <td><input type="password" name="pass" placeholder="비밀번호 입력"></td>
                        </tr>
                    </table>					
					<input type="submit" value="로그인" />
					<span>
                        <label><input type="checkbox" name="auto"/>자동 로그인</label>
						<a th:href="@{/member/findId}">아이디찾기</a>
						<a href="#">비밀번호찾기</a>
						<a th:href="@{/member/join}">회원가입</a>
					</span>

                    <a href="#" class="banner"><img src="../images/member_login_banner.jpg" alt="1만원 할인 쿠폰 받기"></a>

				</form>
				<img src="../images/member_certifi_logo.gif" alt="banner">
            </div>
        </main>        
        <th:block th:include="/member/fragment/_footer.html"/>
    </div>    
</body>
</html>