 <!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="/admin/index.html">
 <section id="admin-cs-view" layout:fragment="content">
	     <nav>
	            <h3>자주묻는 질문</h3>
	            <p>
	                HOME > 게시판관리 > <strong>자주묻는 질문</strong>
	            </p>
	        </nav>
	    <article>
            <form th:action="@{/admin/layout/cs/faqmodify}" method="post">
                <section>
                    <table>
                    	<tr>
							<td>질문유형</td>
							<td>
								<select name="cate1" id="faqboardCate1">
									<option value="0">1차 선택</option>
										<option th:each="cate1 : ${cate1List}" th:value="${cate1.cate1}" th:selected="${cate1 eq selectedCate1}" th:text="${cate1.cate1_name}"></option>
								</select>
								<!--  type2는 jsonData로 받아와서 동적처리. -->
								<select name="cate2" id="faqboardCate2">
									<option value="0">2차 선택</option>
										<option th:each="cate2 : ${cate2List}" th:value="${cate2.cate2}" th:text="${cate2.cate2_name}"></option>
								</select>
							</td>
						</tr>
                    </table>
                </section>
                <section>
                    <table>
                        <tr>
                            <td>제목</td>
                            <td><textarea class="csTitle" name="title" placeholder="제목을 입력하세요">[[${faqmodify.title}]]</textarea></td>
                        </tr>
                        <tr>
                            <td>내용</td>
                            <td><textarea class="csArea" name="content" placeholder="내용을 입력하세요.">[[${faqmodify.content}]]</textarea></td>
                        </tr>
                    </table>
                </section>
                <input type="submit" value="등록하기" class="csRegister">
            </form>
        </article>
	</section>