 <!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="/admin/index.html">
 <section id="admin-cs-view" layout:fragment="content">
	     <nav>
	            <h3>공지사항</h3>
	            <p>
	                HOME > 게시판관리 > <strong>공지사항</strong>
	            </p>
	        </nav>
	    <article>
            <form action="${ctxPath}/admin/notice/write.do" method="post">
            <input type="hidden" name="type" value="write"/>
			<input type="hidden" name="uid" value="${sessUser.uid}"/>
                <section>
                    <table>
                    	<tr>
							<td>공지유형</td>
							<td>
								<!-- type1은 회원게시판에서 클릭했을 시 회원으로 설정되게끔. -->
								<select name="cate1" id="cate1">
									<option value="0">1차 선택</option>
									<c:forEach var="main_cate" items="${cate1List}">
										<option value="${main_cate.cate1}" ${cate1 eq main_cate.cate1?'selected':''}>${main_cate.cate1_name}</option>
									</c:forEach>
								</select>
							</td>
						</tr>
                    </table>
                </section>
                <section>
                    <table>
                        <tr>
                            <td>제목</td>
                            <td><textarea class="csTitle" name="title" placeholder="제목을 입력하세요"></textarea></td>
                        </tr>
                        <tr>
                            <td>내용</td>
                            <td><textarea class="csArea" name="content" placeholder="내용을 입력하세요."></textarea></td>
                        </tr>
                    </table>
                </section>
                <input type="submit" value="등록하기" class="csRegister">
            </form>
        </article>
	</section>