<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/admin/index.html">
 	<section id="admin-cs-list" layout:fragment="content">
        <nav>
            <h3>공지사항</h3>
            <p>
                HOME > 고객센터 > <strong>공지사항</strong>
            </p>
        </nav>
        <section>
            <div>
                <!-- type1은 회원게시판에서 클릭했을 시 회원으로 설정되게끔. -->
				<select name="boardCate2" id="boardCate2">
					<option value="0">1차 선택</option>
					<c:forEach var="main_cate" items="${cate1List}">
						<option value="${main_cate.cate1}" ${cate1 eq main_cate.cate1?'selected':''}>${main_cate.cate1_name}</option>
					</c:forEach>
				</select>
            </div>
            <table>
                <tr>
                    <th><input type="checkbox" name="all"></th>
                    <th>번호</th>
                    <th>유형</th>
                    <th>제목</th>
                    <th>날짜</th>
                    <th>관리</th>
                </tr>
			
				<tr class="row" th:each="noticelist : ${pageResponseDTO.dtoList}">
                    <td><input type="checkbox" name="chk"></td>
                    <td>[[${noticelist.no}]]</td>
                     <td>[[${noticelist.cate1}]]</td>
                    <td><a th:href="@{/admin/layout/cs/noticeview(no=${noticelist.no})}">[[${noticelist.title}]]</a></td>
                   	<td>[[${#temporals.format(noticelist.rdate, 'yy-MM-dd')}]]</td>
                    <td>
						<a href="#" class="noticeModify">[수정]</a>
                        <a href="#" class="noticeDelete">[삭제]</a>
                    </td>                   
                </tr>
                </c:forEach>
            </table>
            
            <input type="button" value="선택 삭제" class="csDelete"/>
            <input type="button" value="공지 작성" class="noticeWrite"/>
			
			 <div class="paging">
		        <span th:if="${pageResponseDTO.prev}" class="prev" aria-controls="dataTables-example" tabindex="0" id="dataTables-example_previous">
		            <a th:href="@{/admin/layout/cs/noticelist(group=${pageResponseDTO.group},pg=${pageResponseDTO.start - 1})}">이전</a>
		        </span>
		
		        <span th:each="num: ${#numbers.sequence(pageResponseDTO.start, pageResponseDTO.end)}"
		             class="num">
		            <a th:href="@{/admin/layout/cs/noticelist(group=${pageResponseDTO.group},pg=${num})}" th:text="${num}"></a>
		        </span>
		
		        <span th:if="${pageResponseDTO.next}" class="next" aria-controls="dataTables-example" tabindex="0" id="dataTables-example_next">
		            <a th:href="@{/admin/layout/cs/noticelist(group=${pageResponseDTO.group},pg=${pageResponseDTO.end + 1})}">다음</a>
		        </span>
			</div>

			
        </section>
        
    </section>
</html>