<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/admin/index.html">
    <section id="admin-cs-list" layout:fragment="content">
        <nav>
            <h3>문의사항</h3>
            <p>
                HOME > 고객센터 > <strong>문의목록</strong>
            </p>
        </nav>
        <section>
            <div>
				<!-- type1은 회원게시판에서 클릭했을 시 회원으로 설정되게끔. -->
				<select name="cate1" id="faqboardCate1">
					<option value="0">1차 선택</option>
						<option th:each="cate1 : ${cate1List}" th:value="${cate1.cate1}" th:selected="${cate1 eq selectedCate1}" th:text="${cate1.cate1_name}"></option>
				</select>
				<!--  type2는 jsonData로 받아와서 동적처리. -->
				<select name="cate2" id="faqboardCate2">
					<option value="0">2차 선택</option>
						<option th:each="cate2 : ${cate2List}" th:value="${cate2.cate2}" th:text="${cate2.cate2_name}"></option>
				</select>
            </div>
            <table>
                <tr>
                    <th><input type="checkbox" name="all"></th>
                    <th>번호</th>
                    <th>1차 유형</th>
                    <th>2차 유형</th>
                    <th>제목</th>
                    <th>날짜</th>
                    <th>상태</th>
                    <th>관리</th>
                </tr>

                <tr class="row" th:each="qnalist : ${pageResponseDTO.dtoList}">
                    <td style="text-align:center; width:5%"><input type="checkbox" name="chk"></td>
                    <td style="text-align:center; width:5" th:text="${qnalist.no}"></td>
                    <td style="text-align:center; width:10%" th:text="${qnalist.cate1}"></td>
                    <td style="text-align:center; width:10%" th:text="${qnalist.cate2}"></td>
                    <td style="text-align:center; width:40%">
                        <a th:href="@{/admin/layout/cs/qnaview(no=${qnalist.no})}" th:text="${qnalist.title}"></a>
                    </td>
                    <td style="text-align:center; width:10%" th:text="${#temporals.format(qnalist.rdate, 'yy-MM-dd')}"></td>
                    <td style="text-align:center; width:10%; color: red;">[처리중]</td>
                    <td style="text-align:center; width:10%">
                        <a th:href="@{/admin/layout/cs/qnaview(no=${qnalist.no})}" class="qnaModify">[답변]</a>
                        <a href="#" class="qnaDelete">[삭제]</a>
                    </td>
                </tr>
            </table>

            <input type="button" value="선택 삭제" class="csDelete"/>

            <div class="paging">
                <span th:if="${pageResponseDTO.prev}" class="prev" aria-controls="dataTables-example" tabindex="0" id="dataTables-example_previous">
                    <a th:href="@{/admin/layout/cs/qnalist(group=${pageResponseDTO.group},pg=${pageResponseDTO.start - 1})}">이전</a>
                </span>

                <span th:each="num: ${#numbers.sequence(pageResponseDTO.start, pageResponseDTO.end)}"
                    class="num"
                    aria-controls="dataTables-example"
                    tabindex="0">
                    <a th:href="@{/admin/layout/cs/qnalist(group=${pageResponseDTO.group},pg=${num})}" th:text="${num}"></a>
                </span>

                <span th:if="${pageResponseDTO.next}" class="next" aria-controls="dataTables-example" tabindex="0" id="dataTables-example_next">
                    <a th:href="@{/admin/layout/cs/qnalist(group=${pageResponseDTO.group},pg=${pageResponseDTO.end + 1})}">다음</a>
                </span>
            </div>
        </section>
    </section>
</html>
