 <!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="/admin/index.html">
 <section id="admin-cs-view" layout:fragment="content">
	     <nav>
	            <h3>고객문의</h3>
	            <p>
	                HOME > 게시판관리 > <strong>고객문의</strong>
	            </p>
	        </nav>
	    <article>
            <form th:action="@{/admin/layout/cs/qnaWrite}" method="post">
            <input type="hidden" name="group" th:value="${qnaWrite.group}">
            <input type="hidden" name="no" th:value="${qnaWrite.no}">
            <input type="hidden" name="uid" value="bin">
            <input type="hidden" name="cate1" th:value="${qnaWrite.cate1}">
            <input type="hidden" name="cate2" th:value="${qnaWrite.cate2}">
			<table class="cstable">
				<tr class="cstable1">
					<td>유형</td>
					<td>[[${qnaWrite.q}]]-[[${qnaWrite.q2}]]</td>
				</tr>
				<tr class="cstable2">
					<td>제목</td>
					<td>[[${qnaWrite.title}]]</td>
				</tr>
				<tr class="cstable3">
					<td>내용</td>
					<td style="white-space: pre-wrap; height:200px; vertical-align: top;">[[${qnaWrite.content}]]</td>
				</tr>
				<tr class="cstable4">
				<td>답변</td>
                  <td>
                      <textarea class="qnaAnswer" name="content" rows="4" cols="50"></textarea>
                  </td>
                </tr>
                </table>
                <input type="submit" value="답변 제출" class="inputSubmit">
                <a href="" class="qnabtnViewDelete">삭제</a>
           		<a href="" class="qnabtnList">목록</a>
            </form>
        </article>
	</section>