<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org/"
      layout:decorate="/cs/board/moduleList.html">

 
             <article layout:fragment="content">        
              <nav>
                <h1>회원</h1>
                <h2>가장 자주 묻는 질문입니다.</h2>
              </nav>

			 <th:block th:each="list:${lists}">
              <div>
                 <h3 th:text="${list.cate2_name}"></h3>
                <ul>
                  <li th:each="article:${articles}">
					<th:block th:if="${list.cate2 == article.cate2}">
					  <a th:href="@{/cs/view(group=2,cate1=${article.cate1},cate2=${article.cate2},no=${article.no})}"><span>Q.</span>[[${article.title}]]?</a>
				  	</th:block>
				  </li>
                  <li class="more"><a href="#">더보기</a></li>
                </ul>
              </div>
             </th:block>

            </article>
        
</html>
