<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org/"
      layout:decorate="/cs/board/moduleList.html">

   
              <article layout:fragment="content">
                <nav>
                  <h1>전체</h1>
                  <h2>공지사항 전체 내용입니다.</h2>
                </nav>
  
                <table>
                    <tr th:each="article:${pageResponseDTO.dtoList}">
						<td><a th:href="@{/cs/view(group=${article.group},cate1=${article.cate1},cate2=${article.cate2},no=${article.no})}">[[${article.title}]]</a></td>
                   		<td>[[${article.rdate}]]</td>
                    </tr>
                </table>
  
                
                 <div class="page">
				    <a th:if="${pageResponseDTO.start > 10}" 
				    th:href="@{/cs/list(group=${pageRequestDTO.group}, cate1=${pageRequestDTO.cate1}, pg=${pageResponseDTO.start - 1})}" class="prev">이전</a>
				
				    <th:block th:each="num: ${#numbers.sequence(pageResponseDTO.start, pageResponseDTO.end)}">
				        <a th:href="@{/cs/list(group=${pageRequestDTO.group}, cate1=${pageRequestDTO.cate1}, pg=${num})}" th:class="${num == pageRequestDTO.pg} ? 'on' : 'num'">[[${num}]]</a>
				    </th:block>
				
				    <a th:if="${pageResponseDTO.start > 10}" 
				    th:href="@{/cs/list(group=${pageRequestDTO.group}, cate1= ${pageRequestDTO.cate1}, pg=${pageResponseDTO.end + 1})}" class="next">다음</a>
				</div>
				
				 <a th:if="${pageRequestDTO.group == 3}" th:href="@{/cs/qna/write(group=3,cate1=${pageRequestDTO.cate1})}" class="btnWrite">문의하기</a>
				
              </article>
 

</html>