<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org/"
      layout:decorate="/cs/board/moduleList.html">

   
              <article layout:fragment="content">
                <nav>
                  <h1>전체</h1>
                  <h2>공지사항 전체 내용입니다.</h2>
                </nav>
  
                <table>
                    <tr th:each="article:${pageResponseDTO.dtoList}">
						<td><a th:href="@{/cs/view(group=1,cate=${article.cate1},no=${article.no})}">[[${article.title}]]</a></td>
                   		<td>[[${article.rdate}]]</td>
                    </tr>
                </table>
  
                <div class="page">
                  <a href="#" class="prev">이전</a>
                  <a href="#" class="num on">1</a>
                  <a href="#" class="num">2</a>
                  <a href="#" class="num">3</a>
                  <a href="#" class="next">다음</a>
                </div>
  
              </article>
 

</html>