<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org/"
      layout:decorate="/cs/board/moduleList.html">

<head>
	
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
 $(document).ready(function() {
        $('.btnDelete').click(function (e) {
            e.preventDefault();
			
			let no =  $(".articleNo").val();
			
			console.log("no=" + no);
			
            if (confirm('상품을 삭제하시겠습니까?')) {
                window.location.href = "/LotteON/cs/delete/" + no;
            }
        });
    });
</script>
</head>
	
	

             <article layout:fragment="content">
			  <nav>
				<th:block th:if="${article.group == 1}">
                	<h2 class="title">[[${article.title}]]</h2>                
				</th:block>	  
				<th:block th:if="${article.group == 3}">
                	<h2 class="title">[ [[${article.cate2_name}]] ] [[${article.title}]]</h2>                
				</th:block>	
                <p>
                  <span>[[${#strings.substring(article.uid, 0, 3) + '***'}]]</span>
                  <span th:text="${#temporals.format(article.rdate, 'yyyy-MM-dd')}"></span>
                </p>
              </nav>	 

           

              <div class="content">
				  
				 [[${article.content}]] <br><br>
				  
                <p>
                  개인회원에서 법인회원(사업자 회원)으로 전환은 불가하므로 법인회원(사업자 회원) 전환은 신규 가입으로 진행을 해야 합니다.
                </p>
                <p>
                  ※ 피싱 관련 피해신고<br /><br/>
                  ▶ 경찰청 사이버수사국 (국번없이)182 :
                  http://cyberbureau.police.go.kr<br />
                  ▶ KISA 인터넷침해대응센터 (국번없이)118 :
                  http://www.krcert.or.kr<br />
                  감사합니다.<br />
                </p>
              </div>
           <input type="hidden" class="articleNo" th:value="${article.no}"/>
           <th:block th:if="${article.group == 3}">
              <th:block th:if="${answer != null && article.no == answer.parent}">
			    <div class="qna_answer">
			        <nav>☛ [답변] <span th:text="${answer.title}"></span></nav>
			        <div>
			            <p>
			                <span th:text="${answer.content}"></span>
			            </p>
			        </div>
			    </div>
			</th:block>
			<th:block th:if="${answer == null || article.no != answer.parent}">
			    <div class="qna_answer">
			        <p>
			            답변이 없습니다. 잠시만 기다려주세요.
			        </p>
			    </div>
			</th:block>
          </th:block>  
              <a th:href="@{/cs/list(group=${article.group},cate1=${article.cate1})}" class="btnList">목록보기</a>
		
		<th:block th:if="${article.group == 3}">
			<th:block th:if="${#authentication.principal.user.uid == article.uid}">
		    	<a th:href="@{/cs/delete(cate1=${article.cate1}, no=${article.no})}" class="btnDelete">삭제하기</a>
		    </th:block>	
		</th:block>
          
            </article>
            
</html>
