<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org/"
	  layout:decorate="/policy/policyindex.html"> 
<section layout:fragment="content">
    <nav>
      <h1>LotteON 서비스 이용약관</h1>
      <ul>
        <li><a th:href="@{/policy/buyer}">구매회원 약관</a></li>
        <li class="on"><a th:href="@{/policy/sellerpolicy}">판매회원 약관</a></li>                    
        <li><a th:href="@{/policy/finance}">전자금융거래 약관</a></li>
        <li><a th:href="@{/policy/location}">위치정보이용 약관</a></li>                      
        <li><a th:href="@{/policy/privacy}">개인정보수집 방침</a></li>
      </ul>
    </nav>
    <article>
      <h2>판매회원 이용약관</h2>
	     <p>
			<span class="tit">제1조(목적)</span><br>
	        <span style=" max-height: 300px; overflow-y: auto;" class="content">
			이 약관은 주식회사 케이마켓(이하 “회사”라 함)가 운영하는 “K마켓” 인터넷 오픈마켓 사이트 (www.kmarket.co.kr, 이하 “K마켓”이라 함)와 스마트폰 등 이동통신기기를 통해 제공되는 ‘K마켓’ 모바일 애플리케이션(이하 “모바일K마켓”이라고 합니다)을 통해서 제공하는 전자상거래 관련 서비스 및 기타 서비스 (이하 “서비스”라 함)를 이용하는 자간의 권리, 의무를 확정하고 이를 이행함으로써 상호 발전을 도모하는 것을 그 목적으로 합니다.
			</span>
	      </p>
	     <p>
			<span class="tit">제 2 조 (약관의 명시, 효력과 개정)</span><br>
	        <span style=" max-height: 300px; overflow-y: auto;" class="content">
			1. 회사는 이 약관의 내용을 회사의 상호, 영업소 소재지, 대표자의 성명, 사업자 등록번호, 연락처(전화, 팩스, 전자우편주소 등)등과 함께 회원이 확인할 수 있도록 “K마켓” 초기 화면 또는 연결화면에 게시합니다.
			2. 회사는 약관의규제에관한법률, 전자거래기본법, 전자서명법, 정보통신망이용촉진 및 정보보호 등에 관한 법률, 전자상거래 등에서의 소비자보호에 관한 법률, 전자금융거래법 등 관련 법률을 위배하지 않는 범위에서 본 약관을 개정할 수 있습니다.
			3. 회사가 약관을 개정할 경우에는 적용일자 및 개정사유를 명시하여 현행 약관과 함께 초기화면 또는 연결화면에 그 적용일자 14일 이전부터 적용일자 전일까지 공지합니다. 다만, 변경 내용이 중대하거나 판매회원에게 불리한 경우에는 그 적용일자 30일 이전부터 적용일자 전일까지 공지하고 판매회원에게 개별 통지합니다. 변경된 약관은 그 적용일자 이전으로 소급하여 적용되지 아니합니다.
			</span>
	      </p>
	     <p>
			<span class="tit">제 2 조의1 (회사의 일반적 준수사항)</span><br>
	        <span style=" max-height: 300px; overflow-y: auto;" class="content">
			1. 회사는 수수료(제14조의 서비스 이용료) 및 판매촉진서비스 이용료(제23조 내지 제26조의 K마켓 부가서비스 이용요금)의 결정과 관련하여 다른 오픈마켓 사업자와 담합 등 불공정행위를 하지 않습니다.
			2. 회사는 판매회원에게 가격인하, 기획전 참여 등을 부당하게 강요하지 않습니다.
			3. 회사는 판매회원 간 수수료 및 판매촉진서비스 이용료를 다르게 정하지 않습니다. 다만, 회사는 합리적인 사유가 있는 경우에는 이를 다르게 정할 수 있습니다.
			4. 회사는 판매회원이 다른 오픈마켓사업자와 거래하지 못하게 하거나 다른 오픈마켓사업자와 거래한다는 이유로 판매회원에게 불이익을 제공하지 아니합니다.
			</span>
	      </p>
	     <p>
			<span class="tit">제 3 조 (용어의 정의)</span><br>
	        <span style=" max-height: 300px; overflow-y: auto;" class="content">
			1. 이 약관에서 사용하는 용어의 정의는 다음과 같습니다.
			1) 오픈마켓 : 누구나 판매자나 구매자가 되어 온라인상에서 상품을 팔고 살 수 있는 가상의 장터를 말합니다.
			2) 오픈마켓사업자 : 오픈마켓과 오픈마켓에서의 부가서비스(광고서비스 등)를 제공하고, 이에 대한 대가를 받는 사업자를 말합니다.
			3) 할인쿠폰: 회사의 서비스를 통하여 물품을 구매할 때 표시된 금액 또는 비율만큼 물품대금에서 할인 받을 수 있는 회사 전용의 사이버 또는 오프라인 쿠폰을 말하며, 아이템할인, 에누리쿠폰(구매쿠폰)과 바이어쿠폰을 통칭합니다.
			4) 아이템할인: 판매회원이 회사의 서비스를 통하여 물품을 판매할 때 회사와의 합의에 따라 서비스이용료 범위 내에서 특정물품의 판매가격을 할인하는 것을 말합니다. 회사는 아이템할인으로 인한 특정물품 판매가격 할인액을 해당 서비스 화면에 게재하여야 하며, 당해 할인액은 회사가 판매회원으로부터 수령할 서비스이용료에서 직접 차감됩니다.
			5) 에누리쿠폰(구매쿠폰): 구매자가 회사의 서비스를 통하여 물품을 구매할 때 표시된 금액 또는 비율만큼 물품대금에서 할인 받을 수 있는 회사 전용의 사이버 또는 오프라인 쿠폰을 말합니다. 회사는 판매회원의 동의(승인을 포함하며 이하 같다)가 있는 경우에 한하여 에누리쿠폰(구매쿠폰)이 적용된 물품판매거래를 중개할 수 있으며, 판매회원의 동의가 없는 경우에는 당해 거래를 신속히 취소 처리합니다. 에누리쿠폰(구매쿠폰)으로 인한 판매가격 할인액 상당은 회사가 판매회원으로부터 수령할 서비스이용료에서 직접 차감됩니다.
			6) 바이어쿠폰: 구매자가 회사의 서비스를 통하여 물품을 구매할 때 표시된 금액 또는 비율만큼 물품대금에서 할인 받을 수 있는 회사 전용의 사이버 또는 오프라인 쿠폰을 말합니다. 회사는 판매회원의 동의없이 구매자에게 바이어쿠폰을 발행할 수 있으며, 쿠폰에 표시된 할인금액 및 할인비율만큼 판매가격이 할인되는 경우 그 할인액 상당은 회사가 판매회원으로부터 수령할 서비스이용료에서 직접 차감됩니다.
			2. 이 약관에서 사용되는 용어의 정의는 이 약관에서 별도로 규정하는 경우를 제외하고 K마켓 구매회원 이용약관(이하 "구매약관"이라 함) 제3조의 규정을 따릅니다.
			</span>
	      </p>
	     <p>
			<span class="tit">제 4 조 (서비스의 종류)</span><br>
	        <span style=" max-height: 300px; overflow-y: auto;" class="content">
			1. 회사가 제공하는 서비스는 다음과 같습니다.
			1) E-Commerce Platform 개발 및 운영서비스
			① 판매관련 업무지원서비스
			② 구매관련 지원서비스
			③ 매매계약체결관련 서비스
			④ 상품 정보검색 서비스
			⑤ 기타 전자상거래 관련 서비스
			2) 광고 집행 및 프로모션 서비스
			2. 회사가 제공하는 전항의 서비스는 회원이 재화 등을 거래할 수 있도록 사이버몰의 이용을 허락하거나, 통신판매를 알선하는 것을 목적으로 하며, 개별 판매회원이 K마켓과 모바일K마켓에 등록한 상품과 관련해서는 일체의 책임을 지지 않습니다.
			3. 회사는 외국어를 사용하는 구매자에 대한 상품판매를 위하여 판매회원이 요청하거나 동의하는 경우 한글로 등록된 상품정보, 광고, 판매조건 등을 외국어로 번역하는 서비스를 제공할 수 있습니다. 다만, 회사는 번역의 정확성을 보장하지 않으며 번역에 대한 일체의 책임을 지지 않습니다. 외국어로 번역된 상품정보에 따른 거래에 대한 모든 책임은 판매회원이 스스로 부담하여야 합니다.
			</span>
	      </p>
	     <p>
			<span class="tit">제 5 조 (대리행위의 부인)</span><br>
	        <span style=" max-height: 300px; overflow-y: auto;" class="content">
			회사는 통신판매중개자로서 효율적인 서비스를 위한 시스템 운영 및 관리 책임만을 부담하며, 재화 또는 용역의 거래와 관련하여 구매자 또는 판매회원을 대리하지 아니하고, 회원 사이에 성립된 거래 및 회원이 제공하고 등록한 정보에 대해서는 해당 회원이 그에 대한 직접적인 책임을 부담하여야 합니다.
			</span>
	      </p>
	     <p>
			<span class="tit">제 6 조 (보증의 부인)</span><br>
	        <span style=" max-height: 300px; overflow-y: auto;" class="content">
			회사는 회사가 제공하는 시스템을 통하여 이루어지는 구매자와 판매회원 간의 거래와 관련하여 판매의사 또는 구매의사의 존부 및 진정성, 등록물품의 품질, 완전성, 안정성, 적법성 및 타인의 권리에 대한 비침해성, 구매자 또는 판매회원이 입력하는 정보 및 그 정보를 통하여 링크된 URL에 게재된 자료의 진실성 또는 적법성 등 일체에 대하여 보증하지 아니하며, 이와 관련한 일체의 위험과 책임은 해당 회원이 전적으로 부담합니다.
			</span>
	      </p>
</section>
</html>